@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300;1,500&display=swap");




  /*Nav Bar*/

  .navbar {
    background-color: black;
    display:flex;
    align-items: center;
    opacity: 0.5;
    font-size: 1.2rem;
    font-display: 100px;
    height: 100px;
    margin-left: 1150px;
    margin-top: 50px;
    
  }
  
  .navContainer {
    width: 100%;
    
  }

  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
  }
 
  
  .nav-item {
    line-height: 40px;
    margin-right: 1rem;
    
    
  }
  
  .nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
  }
  
  .nav-item:hover:after {
    width: 100%;
    background: white;
  }
   
  

  /*Home page*/


.con {
  background-color: white;
  color: black;
}

a:link {
  text-decoration: none;
}

.content {
  background-image: url("assets/Coco\ Image\ background\ 3.png");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}

.AppName {
  position: relative;
  color: rgb(255, 255, 255);
  font-family: "Spartan", monospace;
  font-size: 64px;
  text-shadow: 3px 3px#ff812787;
  margin-top: -100px;
  margin-left: 80px;
}

.Moto {
  color: rgb(255, 255, 255);
  font-family: "Spartan", monospace;
  font-size: 22px;
  margin-left: 88px;
  margin-top: -40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttonContainer {
  margin: auto;

  width: 440px;
  margin-top: 25px;
}

.btn {
  border: 1px solid rgb(252, 241, 210);
  border-radius: 20px;
  background: #f1e1be87;
  padding: 10px 10px;
  font-size: 27px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.7s;
  position: relative;
  font-family: "IBM Plex Mono", monospace;
  color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 2rem;
  margin-bottom: 2rem;
  top: 80px;
  right: 88%;
  align-content: flex-start;
  width: 400px;
}

.btn:hover {
  background: rgb(236, 222, 184);
  opacity: 0.9;
  color: rgb(133, 75, 0);
}




@media only screen and (max-width: 600px) {

  .navbar {
    background-color: black;
    display:flex;
    align-items: center;
    opacity: 0.5;
    font-size: 1.2rem;
    margin-left: 70px;
    
  }
  
  






  .content {
    background-image: url("assets/Coco\ Image\ background\ 3.png");
    background-size: 1000px;
    background-position-y: 120px;
    background-position-x: -100px;
  }

  .AppName {
    position: relative;
    color: rgb(255, 255, 255);
    font-family: "Spartan", monospace;
    font-size: 54px;
    text-shadow: 3px 3px#ff812787;
    margin-top: 60px;
    /* right: -8%; */
    margin-left: 30px;
  }

  .Moto {
    color: rgb(255, 255, 255);
    font-family: "Spartan", monospace;
    font-size: 15px;
    margin-left: 88px;
    margin-top: -25px;
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .buttonContainer {
    margin: auto;

    width: 370px;
    margin-top: 25px;
  }

  .btn {
    border: 1px solid rgb(252, 241, 210);
    border-radius: 20px;
    background: #4b340387;
    padding: 10px 10px;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.7s;
    position: relative;
    font-family: "IBM Plex Mono", monospace;
    color: rgb(255, 255, 255);
    overflow: hidden;
    margin: 1rem;
    margin-bottom: 1rem;

    top: 10px;
    align-content: flex-start;
    width: 350px;
  }

  .btn:hover {
    background: rgb(236, 222, 184);
    opacity: 0.9;
    color: rgb(133, 75, 0);
  }
}
