@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,300;1,500&display=swap");


.WholePage {
  display: flex;
  height: 100vh;
  align-items: center;
  background-color: teal;
  background-image: url("assets/Coco\ Image\ background\ 4.png");
  justify-content: center;
}

.container2 {
  height: 350px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
.UploadImage {
  text-align: center;
  font-family: Spartan, monospace;
  margin-top: 2rem;
  font-weight: bold;
}
.imgHolder {
  margin: auto;
  width: 150px;
  height: 150px;
  border: 3px black solid;
  border-radius: 5px;
  margin-top: 1rem;
}
.image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
#input[type="file"] {
  display: none;
}
.label {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}
.image-upload {
  width: 300px;
  height: 50px;
  margin: 20px;
  padding: 5px 15px;
  font-family: Spartan, monospace;
  font-weight: 900;
  color: white;
  transition: 0.7s;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  cursor: pointer;
}

.image-upload:hover{
  background: rgb(255, 255, 255);
  opacity: 0.9;
  color: rgb(0, 0, 0);
}

#btn-predict{
  width: 70px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  font-family: Spartan, monospace;
  font-weight: 900;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.7s;
  margin-top: 1.2rem;
  margin-left: 165px;
  background-color: black;
}
#btn-predict:hover{
  background: yellowgreen;
  opacity: 0.9;
  color: black;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__container {
  margin-top: 10px;
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}

.app__input {
  margin-top: 10px;
}
